<% provide(:title, @user.name) %>
<div class = "row">
  <aside>
  </aside>
  
  <div class = "span8">
    <% if @user.comments.any? %>
    <h3>Comments(<%= @user.comments.count %>)</h3>
    <ol class = "comments">
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
    <% end %>
  </div>
</div>

<br/>
<br/>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
